*{
    margin: 0;
    padding: 0;
    background-color: black;
    align-items: center;
}

.title img{
  width:100%;
}

.setsumei p{
  text-align: center;
  color: #e0ca00;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
    width: 100%;
  }

  .buttons p{
    text-align: center;
    color: white;
  }

button{
  border-radius: 50%;
  line-height: 100px;
  width: 100px;
  height: 100px;
  padding: 0;
  -webkit-box-shadow: 0 5px 0 #ffffff;
  box-shadow: 0 5px 0 #ffffff;
}

button:hover{
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  -webkit-box-shadow: 0 2px 0 #ffffff;
  box-shadow: 0 2px 0 #ffffff;
}

h3{
  text-align: center;
}

h3 a{
  font-size: 25px;
  color:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}