@charset "utf-8";

/*====================================================================
scroll_fixed_background_fade
====================================================================*/

section {
	display: flex;
}
.one {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	padding: 20px;
}
.bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0;
	transition: all 0.5s ease 0s;
	z-index: -1;
}
.show .bg {
	opacity: 1;
}
.bg._01 {
	background-image: url("https://125naroom.com/demo/img/itukanokotonokoto01.jpg");
}
.bg._02 {
	background-image: url("https://125naroom.com/demo/img/itukanokotonokoto02.jpg");
}
.bg._03 {
	background-image: url("https://125naroom.com/demo/img/itukanokotonokoto03.jpg");
}
.bg._04 {
	background-image: url("https://125naroom.com/demo/img/itukanokotonokoto04.jpg");
}
.bg._05 {
	background-image: url("https://125naroom.com/demo/img/itukanokotonokoto05.jpg");
}
.onebox {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	background: #ffffff;
}
.onebox img {
	width: 100%;
	height: auto;
	vertical-align: top;
	margin-bottom: 15px;
}
.onebox p {
	text-align: center;
	margin: 0;
}

/*==================
base
==================*/

body {
	font-family: YuGothic, "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
	line-height: 1.8;
	margin: 0;
	word-break: break-word;
}
h1 {
	font-size: 22px;
	line-height: 2.0;
	padding: 10px 0;
	margin: 20px 0 35px;
	position: relative;
	border-top: 4px solid #f2f2f2;
	border-bottom: 4px solid #f2f2f2;
	text-align: center;
}
h1:after {
	content: "";
	display: block;
	position: absolute;
	background-color: #fff689;
	width: 20%;
	height: 4px;
	bottom: -4px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
p._a {
	font-size: 12px;
	font-weight: bold;
	margin: 30px 0 0;
}
p._a .link {
	display: inline-block;
	color: #607D8B;
	padding-left: 1.3em;
	text-indent: -1.3em;
}
p._a .link:before {
	content: '';
	display: inline-block;
	width: 5px;
	height: 5px;
	border-top: 2px solid #607D8B;
	border-right: 2px solid #607D8B;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-right: 10px;
}
@media screen and (max-width: 1024px) {
	h1 {
		font-size: 18px;
	}
}
@media screen and (max-width: 767px) {
	h1 {
		font-size: 16px;
	}
}

/*==================
.ads_area
==================*/

.ads_area300 {
	max-width: 300px;
	height: auto;
	margin: 2em auto;
	overflow: hidden;
	text-align: center;
}
@media screen and (max-width: 374px) {
	.ads_area300 {
		display: none;
	}
}