*{
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.title h1{
  text-align: center;
  left:42%;
  top:40%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  position: fixed;
  z-index: 3;
  font-size: 25px;
}

.title h2{
 text-align: center;
 top:60%;
 left:46%;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 color: black;
 position: fixed;
 z-index: 3;
 font-size: 15px;
}

.menu img{
  left: 45%;
  top: 20px;
  z-index: 3;
  width: 100px;
  position: fixed;
}

.bg img{
  position: fixed;
  width: 100%;
  z-index: 2;
  order: 1;
}

.area img{
  width: 100%;
  z-index: 1;
}

.scroll-down1{
  height: 10px;
  width: 10px;
  border: 2px solid black;
  position: fixed;
  left: 11%;
  bottom: 20px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 3;
}

.scroll-down2{
  height: 10px;
  width: 10px;
  border: 2px solid black;
  position: fixed;
  left: 22%;
  bottom: 20px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 3;
}

.scroll-down3{
  height: 10px;
  width: 10px;
  border: 2px solid black;
  position: fixed;
  left: 33%;
  bottom: 20px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 3;
}

.scroll-down4{
  height: 10px;
  width: 10px;
  border: 2px solid black;
  position: fixed;
  left: 44%;
  bottom: 20px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 3;
}

.scroll-down5{
  height: 10px;
  width: 10px;
  border: 2px solid black;
  position: fixed;
  left: 55%;
  bottom: 20px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 3;
}

.scroll-down6{
  height: 10px;
  width: 10px;
  border: 2px solid black;
  position: fixed;
  left: 66%;
  bottom: 20px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 3;
}

.scroll-down7{
  height: 10px;
  width: 10px;
  border: 2px solid black;
  position: fixed;
  left: 77%;
  bottom: 20px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 3;
}

.scroll-down8{
  height: 10px;
  width: 10px;
  border: 2px solid black;
  position: fixed;
  left: 88%;
  bottom: 20px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 3;
}